//////////////////////////////////////////////////
//  Styles overrides for teaser rendered nodes  //
//////////////////////////////////////////////////

.node--teaser {
  padding-top: 0;
  border-bottom: 1px solid $m3-gray-400;

  .content__title-h {
    @extend .m3-title-xs;
    color: $m3-primary-500;
  }

  .content__description {
    margin-bottom: $spacer-sm;
  }

  .content__brief {
    margin-bottom: $spacer-sm;
  }

  .content__labels {
    .field-content-topics__item {
      a {
        background-color: $m3-primary-400;
      }
    }
  }
}