////////////////////////////////////////////////////
//  Style overrides for the news item full nodes  //
////////////////////////////////////////////////////

.page--news-item {
  .main {
    padding-top: 144px;
  }
  
  .header__wrapper {
    @extend .m3-add-understrike;

    &:after {
      bottom: -14px;
    }
  }

  .block--system-main-block {
    margin-top: $spacer-md;
  }
}

.node--news_item--full {
  .content__title {
    margin-bottom: $spacer-sm;
  }

  .content__title-h {
    @extend .m3-title-md;
    color: $m3-secondary-500;
  }

  .content__brief {
    @extend .m3-featured-xs;
    margin-bottom: $spacer-md;
  }

  .content__labels {
    .field-content-topics__item {
      a {
        background-color: $m3-primary-400;
      }
    }
  }
}
