/////////////////////////////////
//  Styles for the main block  //
/////////////////////////////////

.main {
    padding-top: 136px;
}

@include media-breakpoint-down(md) {
    .main {
        padding-top: 109px;
    }
}