///////////////////////////////////////////////
//  Style overrides for the page full nodes  //
///////////////////////////////////////////////

.content-item-heading__title {
    color: $m3-secondary-500;
    margin-bottom: $spacer-sm * 2;
}

.content-item {
    margin-bottom: $spacer-md;
}