////////////////////////////////////////////////////////
//  Style overrides for the resource item full nodes  //
////////////////////////////////////////////////////////

.node--resource--full {
  @extend .node--page--full;
  
  .content__related {
    @extend .container;
  }
  
  .field-related-content {
    @extend .row;
  }
  
  .field-related-content__item {
    @extend .col-lg-6;
    padding-bottom: 60px;
  
    .node--card {
        display: flex;
        justify-content: center;
    }
  }

  .content__files {
    @extend .container;
    margin-bottom: $spacer-xxl;

    .field-resource-files {

      .field-resource-files__item {
        margin-bottom: $spacer-sm;

        a {
          @extend .m3-link-lg;
          @include appendIcon('fa-file-download', 25px);
        }

        .file--mime-application-zip a {
          @include appendIcon('fa-file-archive', 25px);
        }

        .file--x-office-document a {
          @include appendIcon('fa-file-word', 25px);
        }
      }
    }
  }
}