/////////////////////////////////////
//  Styles for the resources view  //
/////////////////////////////////////

.page--casos {
  @extend .injusta-view;

  .content__wrapper {
    .views-exposed-form {
      .form-item-field-resource-type,
      .form-item-edit-field-resource-type {
        @extend .col;
  
        .fieldset-legend {
          @extend .m3-title-xs;
          display: inline-block;
          color: $m3-secondary-500;
          padding-top: $spacer-sm;
        }

        .form-checkboxes {
          display: flex;

          .form-item {
            margin-right: $spacer-sm * 2;
          }

          .form-item__label {
            @extend .m3-featured-xs;
            color: $m3-primary-500;
          }
        }
      }
    
      .form-actions {
        @extend .col-lg-3, .col-md-12;
      }

      .form-submit {
        margin-top: 60px;
      }
    }
  
    .view__content-inner {
      @extend .row;
    }
  
    .views-row {
      @extend .col-lg-4, .col-md-6;
    }
  }
}

@include media-breakpoint-down(md) {
  .page--casos {
    .content__wrapper {
      .views-exposed-form {
        .form-submit {
          margin-top: 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .page--casos {
    .content__wrapper {
      .form-item-field-resource-type,
      .form-item-edit-field-resource-type {
        .form-checkboxes {
          flex-direction: column;
        }
      }
    }
  }
}