//////////////////////////////////////
//  Styles for the page full nodes  //
//////////////////////////////////////

.page--taxonomy-term {
  .block--page-title-block {
    @extend .m3-add-understrike;
    background-color: $m3-tertiary-500;
    padding: $spacer-xl 0;
    position: relative;
    color: $m3-light;
  }
}