///////////////////////////////////////////////
//  Styles override for the contact us form  //
///////////////////////////////////////////////

.contact-us {}

.contact-us__header {
  @extend .m3-add-understrike;
  background-color: $m3-primary-500;
  padding-bottom: $spacer-sm;
  position: relative;
}

.contact-us__title {
  padding-top: $spacer-xl;
  background-color: $m3-tertiary-500;
}

.contact-us__title-h {
  @extend .container, .m3-title-lg;
  padding-bottom: $spacer-sm;
  color: theme-color('light');
}

.contact-us__intro {
  @extend .container, .m3-text-styled;
  padding-top: $spacer-sm;

  p {
    color: theme-color('light');
  }
}

.contact-us__intro-brief {
  margin-bottom: 30px;
}

.contact-us__body {
  @extend .container;
  padding-top: $spacer-xl;
  padding-bottom: $spacer-xl;
}

.contact-us__form {
  @extend .m3-rounded-border;
  padding-top: $spacer-md;
  padding-bottom: $spacer-md;

  .fields-container {
      @extend .row;

      .form-item {
          @extend .col-12;
      }

      .form-item-name,
      .form-item-email {
          @extend .col-md-6;
      }
  }
}