////////////////////////////////
//  Styles for the news view  //
////////////////////////////////

.page--noticias,
.page--blog-mas-alla-de-lo-penal {
  @extend .injusta-view;

  .content__wrapper {
    .block--blog-intro-block {
      background-color: $m3-primary-500;
      padding-top: $spacer-sm;
      padding-bottom: $spacer-sm;
      color: $m3-light;

      .block__content {
        @extend .container;
      }

      .blog-intro {
        @extend .m3-text-styled;
      }
    }

    .views-exposed-form {
      .form-item-search-api-fulltext {
        @extend .col-12;
      }
  
      .form-item:not(.form-item-search-api-fulltext) {
        @extend .col-md-4, .col-sm-6;
      }
  
      .form-actions {
        // @extend .col-md;
        @extend .col-md-4, .col-sm-12;
      }
  
      .advanced-search-link {
        display: none;
      }
    }
  
    .view__content-inner {
      @extend .row;
    }
  
    .views-row {
      @extend .col-lg-4, .col-md-6;
    }
  }
}