///////////////////////////////////
//  Styles for header overrides  //
///////////////////////////////////

.header__wrapper {
  @extend .m3-add-understrike;
  border-bottom: 2px solid $m3-primary-600;

  &:after {
    bottom: -14px;
    transition: transition opacity 0.2s;
    opacity: 0;
  }
}

.header {
  padding: $spacer-md 0;

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    @include centerThis('bottom');
    bottom: -40px;
    border: 20px solid transparent;
    border-top-color: $m3-primary-600;
    z-index: 1;
  }

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    @include centerThis('bottom');
    bottom: -36px;
    border: 18px solid transparent;
    border-top-color: $m3-light;
    z-index: 1;
  }
}

.brand__wrapper {
  opacity: 1;
  transition: transform 0.2s, opacity 0.2s;
}

.header__wrapper.is-shrinked {
  &:after {
    opacity: 1;
  }

  .brand__wrapper {
    transform: unset;
  }

  .navigation__brochure-contents {
    pointer-events: all;
  }
}

.navigation__wrapper {
  .block--system-menu-blockmain,
  .block--system-menu-blockaccount {
    a {
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 20px;
    }

    a.is-active {
      position: relative;
  
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: $m3-secondary-500;
        @include centerThis(bottom);
        bottom: -1 * $spacer-sm;
      }
    }
  }
}

.navigation__search-button--injusta {
  margin-left: 30px;
  @extend .m3-cta-button;

  .icon {
    @include iconize('fa-search', 16px);
    display: inline-block;
    margin-right: $spacer-sm;
  }
}

.site-branding__logo {
  margin-top: -23px;
  margin-bottom: -23px;
}

.navbar__wrapper,
.navigation__brochure-contents .content-table__table {
  ul li a {
    color: $m3-primary-500!important;

    &:hover,
    &.is-active {
      color: $m3-secondary-500!important;
    }

    &::after {
      background-color: $m3-secondary-500;
      top: unset;
      bottom: 0;
    }
  }
}

.navigation__brochure-contents {
  pointer-events: none;
}

.navigation__content-title {
  top: 28px;
  color: $m3-secondary-500;
}

.navigation__content-table {
  bottom: 28px;
  left: 184px;
  width: auto;

  .content-table__table {
    background-color: transparent;

    a:after {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(md) {
  .header {
    .navigation__search-button--injusta {
      margin-left: 0;
    }
  }

  .header__wrapper.is-shrinked {
    .brand__wrapper {
      transform: translateY(-80px);
      opacity: 0;
    }
  }

  .navigation__content-title {
    top: 18px;
    left: $spacer-sm;
  }
  
  .navigation__content-table {
    bottom: 18px;
    left: $spacer-xs;

    .content-table__table {
      width: 100vw;
      overflow: scroll;

      ul {
        width: max-content;
      }
    }
  }

  .navigation__wrapper {
    .block--system-menu-blockmain,
    .block--system-menu-blockaccount {
      a.is-active {
        &:after {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          bottom: 0;
          top: 0;
          left: -12px;
          right: unset;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    padding: $spacer-md $spacer-sm;

    .navbar__toggler {
      right: $spacer-sm;
    }
  }
}