////////////////////////////////////////////
//  Styles overrides to aply on CKeditor  //
////////////////////////////////////////////

.cke_editable_themed {
  .content--desktop-only {
    display: block;
    position: relative;
    outline: 4px solid darkorange;

    &:after {
      display: block;
      position: absolute;
      content: "Desktop";
      top: 0;
      left: 0;
      background-color: darkorange;
      color: white;
      padding: 5px;
    }
  }

  .content--mobile-only {
    display: block;
    position: relative;
    outline: 4px solid green;

    &:after {
      display: block;
      position: absolute;
      content: "Mobile";
      top: 0;
      left: 0;
      background-color: green;
      color: white;
      padding: 5px;
    }
  }
}