//////////////////////////////////
//  Styles for the search view  //
//////////////////////////////////

.modal--views-blocksearch-block {
  padding: ($spacer-sm * 2) 0;
}

.search-view--block {
  .view__exposed {
    border-color: $m3-gray-400;
    background: $m3-light;

    .form-item__label {
      color: $m3-secondary-500;
    }
  }

  footer {
    border-color: $m3-gray-400;
  }
}

.page--search {
  @extend .injusta-view;

  .navigation__search-button--injusta {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }

  .content__wrapper {
    .view__exposed {
      max-width: unset;
  
      .form__container {
        padding: ($spacer-sm * 2) $spacer-sm;
      }

      .views-exposed-form {
        margin: 0;
      }

      .form-item-content-type {
        .form-item__label {
          @extend .m3-title-xs;
          display: inline-block;
          color: $m3-secondary-500;
        }

        .form-item__wrapper {
          border-color: $m3-gray-400;
          margin-left: -1 * ($spacer-sm + 15px);
          margin-right: -1 * ($spacer-sm + 15px);
        }
      }

      .form-item-field-news-item-type,
      .form-item-field-resource-type,
      .form-item-field-content-topics {
        @extend .col-md-4, .col-sm-6, .col-12;
      }
    }
  }
}
