///////////////////////////
//  Styles for homepage  //
///////////////////////////

.homepage {}

.homepage__intro {
  background-color: $m3-secondary-500;
  border-bottom: 2px solid $m3-primary-600;
  text-align: center;
  padding-top: $spacer-xl;
  padding-bottom: $spacer-xl;
}

.homepage__intro-text {
  @extend .container, .m3-text-styled;
  color: theme-color('light');
  max-width: 880px;
  margin-bottom: $spacer-md;
  text-align: left;

  p.featured {
    font-size: $t-04;
    
    * {
      font-size: $t-04;
    }
  }

  p.featured:first-child {
    font-size: $t-05;

    * {
      font-size: $t-04;
    }
  }
}

.homepage__intro-cta {
  @extend .container;
}

.homepage__video-button {
  @extend .m3-standard-button;
  @include appendIcon("fa-play-circle");
  font-size: $t-05;

  &:before {
    height: 24px;
    left: 8px;
    bottom: 0;
    margin: auto;
    font-size: 24px;
    line-height: 24px;
  }
}

.homepage__video-modal {
  position: fixed;
  max-width: 80vw;
  width: 100%;

  .modal-dialog {
    max-width: unset;
    margin: 0;
  }

  .modal-content {
    @extend .m3-text-styled;
    border: none;

    iframe {
      width: 100%;
      height: 420px;
    }
  }

  .close {
    opacity: 1;
  }

  .button-close {
    position: relative;
    top: unset;
    right: unset;
  }
}

.homepage__map {
  @extend .m3-add-understrike;
  position: relative;
  background-color: $m3-tertiary-500;
  border-bottom: 2px solid $m3-primary-600;
  padding: $spacer-lg 0;

  &:after {
    bottom: -14px;
  }

  .infographic {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.homepage__content {
  @extend .m3-text-styled, .m3-add-understrike;
  position: relative;
  padding-top: $spacer-xxl;
  padding-bottom: $spacer-md;

  h3, h4 {
    font-size: $t-07 !important;
  }
}

.homepage__news-feed {
  @extend .m3-text-styled;
  padding-top: $spacer-xl;
  padding-bottom: $spacer-lg;

  .view__title {
    @extend .container;
    
    h3, h4 {
      @extend .m3-title-md;
      color: $m3-secondary-500;
    }
  }

  .view__content-inner {
    @extend .row;
  }

  .views-row {
    @extend .col;

    .views-field-title a {
      @extend .m3-title-xs;
      display: block;
      margin-bottom: $spacer-sm;
    }

    .views-field-view-node {
      padding-top: $spacer-sm;

      a {
        @extend .featured-link;
      }
    }
  }
}

.homepage__partners {
  @extend .container;
}

.homepage__guide {
  background-color: $m3-secondary-500;
  border-top: 2px solid $m3-primary-600;
  padding-top: $spacer-xl;
  padding-bottom: $spacer-xl;
}

.homepage__guide-container {
  @extend .container, .m3-text-styled;
  color: theme-color('light');
  
  h3, h4 {
    color: theme-color('light') !important;
    font-size: $t-07 !important;
  }
}

.homepage__guide-row {
  @extend .row;
  flex-direction: row-reverse;
}

.homepage__guide-text-col {
  @extend .col-md-6;
}

.homepage__guide-image-col {
  @extend .col-md-6;
}

.homepage__suscription {
  background-color: $m3-primary-500;
  padding-top: $spacer-xl;
  padding-bottom: $spacer-xl;
}

.homepage__suscription-container {
  @extend .container, .m3-text-styled;
  color: theme-color('light');

  h3, h4 {
    color: theme-color('light') !important;
    font-size: $t-07 !important;
  }
}

.homepage__suscription-row {
  @extend .row;
}

.homepage__suscription-text-col {
  @extend .col-md-6;
}

.homepage__suscription-cta-col {
  @extend .col-md-6;
  text-align: center;
}

.homepage__suscription-button {
  @extend .m3-standard-button;
  color: theme-color('primary') !important;
  padding: 8px $spacer-md;
  margin-top: $spacer-xl;
}
