//////////////////////////////////////////////
//  Styles overrides for language switcher  //
//////////////////////////////////////////////

.navbar__wrapper ul li a.is-active.language-link {
  color: $m3-light!important;
}

.language-switcher__dropdown {
  top: 45px;
}