/////////////////////////
//  Styles for footer  //
/////////////////////////

.footer__ctas {}

.footer__index {
    padding: $spacer-sm * 2;
    background: $m3-light;
    border-top: 2px solid $m3-primary-600;
}

.footer__signature {
    display: none;
}