///////////////////////////////////
//  Alliances list block styles  //
///////////////////////////////////

.socios-list {
  margin-top: $spacer-xl;
  margin-bottom: $spacer-xl;
  padding-top: $spacer-sm;
  padding-bottom: $spacer-sm;
}

.socios-list__inner-container {
  @extend .container;
}

.socios-list__title {
  @extend .m3-title-sm;
  margin-bottom: $spacer-sm;
  color: $m3-secondary-400;
}

.socios-list__item {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  margin: 0 auto;
  color: transparent !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:hover {
    color: transparent !important;
  }
}