////////////////////////////////////////
//  Styles for footer index elements  //
////////////////////////////////////////

.index {
  @extend .row;

  .block--system-menu-blockfooter-featured {
    @extend .col;

    ul {
      @extend .nav;
    }

    li {
      @extend .nav-item;
    }

    a {
      @extend .nav-link, .m3-body-md, .m3-ghost-button;
      padding-left: 0;
      padding-right: $spacer-sm * 2;
    }

    a.donation-button {
      @extend .m3-standard-button;
      padding: 0.5rem 2rem;
      margin-right: 1rem;
    }
  }

  .block--search-button-block {
    @extend .col-xl-2, .col-md-3, .col-sm-4;
    display: flex;
    align-items: center;

    .navigation__search-button--injusta {
      margin-left: 0;
    }
  }

  .block--system-menu-blocksocial-networks {
    @extend .col-lg-3, .col-md-12;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      @extend .nav;
      justify-content: flex-end;
    }

    li {
      @extend .nav-item;
      margin-left: 30px;
    }

    a {
      @extend .nav-link;
      color: $m3-primary-500;
      display: inline-block;
      width: 30px;
      height: 30px;
      padding: 0;
      padding-left: 30px;
      overflow: hidden;
      position: relative;
      @include iconize('fa-link', 30px, 'far');

      &:before {
        @include centerThis();
      }
    }

    .facebook {
        @include iconize('fa-facebook-square', 30px, 'fab');
    }

    .twitter {
        @include iconize('fa-twitter', 30px, 'fab');
    }

    .instagram {
        @include iconize('fa-instagram', 30px, 'fab');
    }

    .hashtag {
      font-family: 'Lato', sans-serif;
      width: auto;
      padding-left: 0;
      font-size: 26px;
      overflow: auto;

      &:before {
        display: none;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .index {
    .block--search-button-block {
      .navigation__search-button--injusta {
        width: 100%;
      }
    }

    .block--system-menu-blockfooter-featured {
      padding-top: $spacer-sm;
      padding-bottom: $spacer-sm;
    }

    .block--system-menu-blocksocial-networks {
      justify-content: center;

      ul {
        justify-content: center;

        li {
          margin: 0 $spacer-sm;
        }
      }
    }
  }
}