//////////////////////////////////////
//  Styles for the page full nodes  //
//////////////////////////////////////

.node--page--full,
.node--page--content {
    .content__header {
        @extend .m3-add-understrike;
        background-color: $m3-tertiary-500;
        padding: $spacer-xl 0;
        position: relative;
        color: $m3-light;
    }

    .content__brief {
        font-size: $t-05;

        * {
            font-size: $t-05;
        }
    }

    .content__featured-image {
        .field-featured-image {
            // @extend .image-shadow;
            max-width: 100%;
        }
    }

    .content__content-table {
        width: 100%;
        max-width: unset;
        margin-bottom: -72px;
        background-color: $m3-primary-500;
        padding-top: $spacer-sm * 2;
        padding-bottom: $spacer-sm * 2;

        .content-table {
            @extend .container;
        }

        .content-table__label {
            margin-bottom: $spacer-xs;
            font-style: italic;
        }

        .content-table__table {
            ul li a {
                margin-right: 1em;
                color: $m3-light;
            }
        }
    }
}