{#
/**
 * @file
 * Theme override for freeform node.
 *
 * Add here custom HTML to display using the contents defined in the node with the given code.
 *
 * Template name should be: node--freeform--CODE.html.twig
 *
 * CODE should not use spaces or underscores. Either on its definition or in the template name.
 *
 * Only codes for Freeform contents (CONTENT-CODES) can use slashes.
 *
 * Available variables:
 * - freeform: the freeform data fetched
 *  - contents: the freeform data fetched
 *    - CONTENT-CODE: Freeform content code used in the node, can use underscores
 *      - entity: Freeform content paragraph entity
 *      - content: Freeform content paragraph entity contents (as provided by drupal display configuration)
 *  - code: Freeform code
 *  - node: Freeform node
 *  - nid: Freeform nid
 */
#}

{# Include this import to use freeformMacros on your template #}
{% import '@freeforms/macros.twig' as freeformMacros %}

{# Attaching js controller #}
{{ attach_library('m3_theme/slick-carousel') }}

<div class="socios-list">
  <div class="socios-list__inner-container">
    <div class="socios-list__header">
      <h4 class="socios-list__title">
        {{ freeformMacros.freeformText('display-title', freeform) }}
      </h4>
    </div>
    <div id="alliancesListCarousel" class="socios-list__carousel slick-carousel slick-carousel--multiple">    
    {% set listLength = freeform['contents']['list-length'].entity.field_freeform_plain_text.value|raw ?: 1 %}
    {% for item in 1..listLength %}
      {% set logoCode = 'socio-logo-' ~ loop.index %}
      {% set linkCode = 'socio-link-' ~ loop.index %}
      <div class="slick-carousel-item">
        <a class="socios-list__item" href="{{ freeformMacros.freeformLinkURL(linkCode, freeform) }}" style="background-image: url({{ freeformMacros.freeformImageUri(logoCode, freeform) }});">
          {{ freeformMacros.freeformLinkTitle(linkCode, freeform) }}
        </a>
      </div>
    {% else %}
    {% endfor %}
    </div>
  </div>
</div>