{#
/**
 * @file
 * Theme override for freeform node.
 *
 * Add here custom HTML to display using the contents defined in the node with the given code.
 *
 * Template name should be: node--freeform--CODE.html.twig
 *
 * CODE should not use spaces or underscores. Either on its definition or in the template name.
 *
 * Only codes for Freeform contents (CONTENT-CODES) can use slashes.
 *
 * Available variables:
 * - freeform: the freeform data fetched
 *  - contents: the freeform data fetched
 *    - CONTENT-CODE: Freeform content code used in the node, can use underscores
 *      - entity: Freeform content paragraph entity
 *      - content: Freeform content paragraph entity contents (as provided by drupal display configuration)
 *  - code: Freeform code
 *  - node: Freeform node
 *  - nid: Freeform nid
 */
#}

{# Include this import to use freeformMacros on your template #}
{% import '@freeforms/macros.twig' as freeformMacros %}

{# Include video modal required libraries #}
{{ attach_library('injusta_m3_theme/jquery-cookie') }}
{{ attach_library('injusta_m3_theme/intro-video-control') }}

<div class="homepage">
  <header class="homepage__intro">
    <div class="homepage__intro-text">
      {{ freeformMacros.freeformText('texto-introduccion', freeform) }}
    </div>
    <div class="homepage__intro-cta">
      <button class="homepage__video-button" data-toggle="modal" data-target="#introVideoModal">Video</button>
      <div class="homepage__video-modal modal fade" id="introVideoModal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="button-close">x</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="homepage__video-content">
                {{ freeformMacros.freeformText('video-content', freeform) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="homepage__map">
    {{ freeformMacros.freeformRenderEntity('infographic-node', freeform, 'node', 'embedded') }}
  </div>
  
  <div class="homepage__content">
    {{ freeformMacros.freeformRenderEntity('content-node', freeform, 'node', 'embedded') }}
  </div>

  <div class="homepage__news-feed">
    {{ freeformMacros.freeformText('news-feed', freeform) }}
  </div>

  <div class="homepage__partners">
    {{ freeformMacros.freeformText('logos-socias', freeform) }}
  </div>

  <div class="homepage__guide">
    <div class="homepage__guide-container">
      <div class="homepage__guide-row">
        <div class="homepage__guide-text-col">
          {{ freeformMacros.freeformText('guia-contenido', freeform) }}
        </div>
        <div class="homepage__guide-image-col">
          {{ freeformMacros.freeformImage('guia-imagen', freeform) }}
        </div>
      </div>
    </div>
  </div>

  <div class="homepage__suscription">
    <div class="homepage__suscription-container">
      <div class="homepage__suscription-row">
        <div class="homepage__suscription-text-col">
          {{ freeformMacros.freeformText('suscripcion-texto', freeform) }}
        </div>
        <div class="homepage__suscription-cta-col">
          {# Patch Warning: Freeform macro freeformLinkTitle seems to have issues with translated links. A hardcoded translatable string was added to prevent those in render, but is not ideal since freeform master content is being ignored here #}
          {# <a class="homepage__suscription-button" href="{{ freeformMacros.freeformLinkURL('suscripcion-link', freeform) }}">{{ freeformMacros.freeformLinkTitle('suscripcion-link', freeform) }}</a> #}
          <a class="homepage__suscription-button" href="{{ freeformMacros.freeformLinkURL('suscripcion-link', freeform) }}">{{ "Subscribe" | t }}</a>
        </div>
      </div>
    </div>
  </div>
</div>