/////////////////////////////////////
//  Color variables and overrides  //
/////////////////////////////////////

// Color variables for M-III
$m3-primary-100: #EEDDE7;
$m3-primary-200: #EEDDE7;
$m3-primary-300: #8F4873;
$m3-primary-400: #8F4873;
$m3-primary-500: #673252;
$m3-primary-600: #3B0325;
$m3-primary-700: #3B0325;
$m3-primary-800: #3B0325;
$m3-primary-900: #3B0325;

$m3-secondary-100: #FC5D3D;
$m3-secondary-200: #FC5D3D;
$m3-secondary-300: #FC5D3D;
$m3-secondary-400: #FC5D3D;
$m3-secondary-500: #FC5D3D;
$m3-secondary-600: #C8492F;
$m3-secondary-700: #C8492F;
$m3-secondary-800: #C8492F;
$m3-secondary-900: #C8492F;

$m3-tertiary-100: #FC4280;
$m3-tertiary-200: #FC4280;
$m3-tertiary-300: #FC4280;
$m3-tertiary-400: #FC4280;
$m3-tertiary-500: #FC4280;
$m3-tertiary-600: #E32162;
$m3-tertiary-700: #E32162;
$m3-tertiary-800: #E32162;
$m3-tertiary-900: #B72C5D;

$m3-gray-100: #F5F6F5;
$m3-gray-200: #C7C7C7;
$m3-gray-300: #C7C7C7;
$m3-gray-400: #C7C7C7;
$m3-gray-500: #515151;
$m3-gray-600: #515151;
$m3-gray-700: #515151;
$m3-gray-800: #515151;
$m3-gray-900: #515151;

$m3-success: #93D866;
$m3-danger: #E74444;
$m3-warning: #F9C316;
$m3-info: #18EADA;
$m3-light: #FFFFFF;
$m3-dark: #303030;

// Override bootstrap default colors
$primary:       $m3-primary-500 !default;
$secondary:     $m3-secondary-500 !default;
$success:       $m3-success !default;
$info:          $m3-info !default;
$warning:       $m3-warning !default;
$danger:        $m3-danger !default;
$light:         $m3-light !default;
$dark:          $m3-dark !default;

// Extend bootstrap theme pallete
$theme-colors: (
    "tertiary": $m3-tertiary-500,
    "gray": $m3-gray-400
);