///////////////////////////////////
//  Variables for pixel spacers  //
///////////////////////////////////

$spacer-xxl: 128px;
$spacer-xl: 72px;
$spacer-lg: 64px;
$spacer-md: 48px;
$spacer-sm: 16px;
$spacer-xs: 8px;
$spacer-xxs: 4px;