/////////////////////
//  Global styles  //
/////////////////////

.m3-text-styled {
  
  h3.subtitle {
    color: $m3-secondary-500;
    margin-bottom: $spacer-sm * 2;
  }

  h4.subtitle-sm {
    color: $m3-secondary-500;
    margin-bottom: $spacer-sm;
  }

  blockquote {
    margin-bottom: $spacer-md;
    color: $m3-primary-600;
    
    &:after,
    &:before {
      color: $m3-primary-200;
    }
  }

  .img-square-left,
  .img-square-right {
    position: relative;

    &:before {
      content: '';
      display: block;
      width: $spacer-xxl;
      height: $spacer-xxl;
      background-color: $m3-tertiary-500;
      position: absolute;
      z-index: -1;
    }
  }

  .img-square-left {
    max-width: max-content;
    margin-top: 43px;
    margin-left: 43px;

    &:before {
      top: -43px;
      left: -43px;
    }
  }

  .img-square-right {
    max-width: max-content;
    margin-bottom: 43px;
    margin-right: 43px;
    
    &:before {
      bottom: -43px;
      right: -43px;
    }
  }

  .content--desktop-only {
    display: none;
  }

  .content--mobile-only {
    display: none;
  }

  hr {
    width: auto;
    margin: $spacer-sm $spacer-xxs;
    min-width: unset;
    max-width: unset;
    height: 3px;
    background-color: $m3-gray-400;
  }

  a.standard-button {
    padding: 8px $spacer-md;
  }

  a.small-link {
    @extend .m3-body-sm;
    text-decoration: underline;
    color: $m3-primary-500;

    &:hover {
      color: $m3-primary-400;
    }
  }

  a.featured-link {
    @include preppendIcon('fa-chevron-right', 24px);
    color: $m3-primary-500;
    padding-left: 0;
    padding-right: $spacer-sm;

    &:hover {
      color: $m3-primary-400;
    }

    &:before {
      line-height: 38px;
      height: 36px;
    }
  }
  
  // a.featured-link--mail {
  //   @extend .featured-link;
  //   @include appendIcon('fa-envelope', 24px);

  //   &:before {
  //     line-height: 38px;
  //   }
  // }

  // a.featured-link--web {
  //   @extend .featured-link;
  //   @include appendIcon('fa-globe-americas', 24px);
    
  //   &:before {
  //     line-height: 38px;
  //   }
  // }
  
  img {
    height: auto;
  }
}

@include media-breakpoint-up(md) {
  .m3-text-styled {
    .content--desktop-only {
      display: block;
    }
  }
}

@include media-breakpoint-down(sm) {
  .m3-text-styled {
    .content--mobile-only {
      display: block;
    }
  }
}