////////////////////////////
//  Form styles override  //
////////////////////////////

.form-item {
  .form-item__label {
    .form-required:after {
      color: theme-color('secondary');
    }
  }
}

.m3-form-control {
  border-color: $m3-primary-500;
}

.select__icon {
  background-color: transparent;
  color: $m3-primary-500 !important;
}