//////////////////////////////////////////////
//  Global styles for infographic elements  //
//////////////////////////////////////////////

.infographic__overlay-layer {
  @extend .do-jump-straight;
}

.infographic-element--desktop {
  &:hover {
    @extend .do-jump-once;
  }
}

.infographic-element__modal {
  max-width: 600px;
  padding: 0;

  .modal-content {
    h3, h4 {
      margin-bottom: $spacer-sm !important;
    }
  }

  .modal-header {
    border-bottom: 3px solid $m3-gray-400;
    padding-bottom: 0;
  }

  .infographic-element__header {
    padding: $spacer-sm;
    padding-top: $spacer-md;
    padding-bottom: 0;
  }

  .modal-body {
    padding: $spacer-sm $spacer-sm * 2;
  }
}