///////////////////////////////
//  Common styles for views  //
///////////////////////////////

.injusta-view {
  .block--page-title-block {
    position: relative;
    background-color: $m3-primary-500;
    padding-top: $spacer-xl;
    padding-bottom: $spacer-sm;
    color: $m3-light;

    .block__content {
      @extend .container;
      padding: 0;
    }

    h1 {
      @extend .m3-title-md;
    }
  }

  .content__wrapper {
    .view__exposed {
      @extend .m3-add-understrike;
      background-color: $m3-primary-500;
      padding-top: $spacer-xs;
      padding-bottom: $spacer-xl;
      position: relative;
  
      .form__container {
        @extend .m3-rounded-border;
      }
  
      .views-exposed-form {
        @extend .row;
      }
  
      .form-item__label {
        color: $m3-secondary-600;
      }
    }

    .view__content {
      padding-top: $spacer-md;
      padding-bottom: $spacer-xl;
    }
  }
}

@include media-breakpoint-down(sm) {
  .injusta-view {
    .block--page-title-block {
      padding-left: $spacer-sm;
      padding-right: $spacer-sm;
    }
  }
}

@include media-breakpoint-down(xs) {
  .injusta-view {
    .content__wrapper {
      .view__exposed {
        padding-left: $spacer-sm;
        padding-right: $spacer-sm;
      }
    }
  }
}