////////////////////////////
//  Global button styles  //
////////////////////////////

@mixin m3-button($size: $t-03, $padding-vertical: ($spacer-xs - 2px), $padding-horizontal: $spacer-sm) {
    @include border-rounded(8px);
    display: inline-block;
    font-size: $size;
    font-weight: 400;
    line-height: 1.5;
    padding: $padding-vertical $padding-horizontal;
    transform: scale(1);
    transition: transform 0.2s;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active:hover {
        transform: scale(0.95);
    }
}

// // Bootstrap overrides
// .btn {
//     @extend .m3-rounded;

//     &:focus {
//         outline: none;
//         box-shadow: none;
//     }
// }


// // Button effect
// .button {
//     transform: scale(1);
//     transition: transform 0.2s;
// }

// .button:active:hover {
//     transform: scale(0.95);
// }


// Button styles
.m3-cta-button {
    @include button-variant(theme-color('primary'), transparent);
    @include m3-button;
    border-width: 1px;
    border-style: solid;
    color: theme-color('light');

    &:hover {
        color: theme-color('light');
    }
}

.m3-standard-button {
    @include button-variant(theme-color('light'), theme-color('primary'));
    @include m3-button;
    border-width: 2px;
    border-style: solid;
    color: theme-color('primary');

    &:hover {
        color: theme-color('primary');
    }
}

.m3-ghost-button {
    @extend .btn-link;
    @include m3-button;
    border: 1px solid transparent;
    color: $m3-primary-600;
}

.m3-tag-button {
    @extend .m3-tag;
    @include button-variant($m3-primary-500, transparent);
    @include border-rounded(4px);
    margin-right: 0.5rem;
    padding: 6px 15px;
    border: none;
    color: theme-color('light') !important;   
}

.m3-circle-button {
    @include m3-button;
    @include square(35px);
    @include border-rounded(20px);
    display: inline-block;
    overflow: hidden;
    position: relative;
    border: 2px solid theme-color('secondary');
    background-color: theme-color('light');
    color: theme-color('secondary');

    .icon {
        @include centerThis();
        width: 100%;
    }
}

.m3-language-button {
    @include m3-button;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px; 
    font-weight: 500;

    .icon {
        @include iconize('fa-language');
        width: 100%;
    }
}
