////////////////////////////
//  Global pager styles  //
////////////////////////////

.pager {
  .pager__item {
    .pager__link,
    .pager__label {
      border-color: $m3-primary-500;
      color: $m3-primary-500;
    }

    &:hover {
      .pager__link,
      .pager__label {
        border-color: $m3-primary-500;
      }

      .pager__link {
        background-color: $m3-gray-100;
      }
    }

    &:first-child {
      .pager__link,
      .pager__label {
        border-color: $m3-primary-500;
      }
    }

    &:last-child {
      .pager__link,
      .pager__label {
        border-color: $m3-primary-500;
      }
    }

    &.is-active {
      .pager__link,
      .pager__label {
        background-color: $m3-primary-200;
        border-color: $m3-primary-500;
        color: $m3-primary-400;
      }
    }
  }

  .pager__item--next,
  .pager__item--last,
  .pager__item--first,
  .pager__item--previous {
    * {
      color: $m3-primary-500;
    }
  }
}