//////////////////////////
//  Global text styles  //
//////////////////////////

// Titles
.m3-title-lg {
    line-height: 1.17;
}

.m3-title-md {
    line-height: 1.2;
}

.m3-title-sm {
    line-height: 1.25;
}

.m3-title-xs {
    line-height: 1.33;
}


// Featured
.m3-featured-lg {
    line-height: 1.33;
}

.m3-featured-md {
    line-height: 1.2;
}


// Links
.m3-link-md {
    line-height: 1.5;
}

.m3-link-sm {
    line-height: 1.14;
}


// Body
.m3-body-md {
    line-height: 1.5;
}

.m3-body-sm {
    line-height: 1.14;
}

.m3-body-xs {
    line-height: 1.16;
}


// Miscellaneous
.m3-label {
    line-height: 1.16;
}