////////////////////////////////////
//  Global card styles overrides  //
////////////////////////////////////

.section-card {
  height: 260px;
  background-image: none !important;
  background-color: $m3-tertiary-900;

  &:after {
    display: none;
  }
}

.section-card__header {
  margin-bottom: 16px;
}

.section-card__tagline {
  color: theme-color('light');
}


.content-card {
  background-color: $m3-gray-100;
  border: 1px solid $m3-gray-500;
  box-shadow: 0 2px 4px $m3-gray-400;
}

.content-card__content {
  border-top-color: $m3-primary-500;
  padding: 16px 20px;
}

.content-card__title {
  color: $m3-secondary-500
}

.content-card__description {
  color: $m3-secondary-600;
  margin-top: 16px;

  * {
    color: $m3-secondary-600;
  }
}

.content-card__tags {
  .content__labels {
    margin-bottom: 0;

    .field-content-topics__item,
    .field-news-item-type,
    .field-resource-type,
    .field-profile-type {
      margin-bottom: 0;
      margin-top: 16px;
      @extend .m3-tag-button;
      display: inline-block;
    }
  
    .field-content-topics__item {
      background-color: $m3-primary-400;
    }
  }
}

.content-card__brief{
  color: $m3-gray-500;
  margin-top: 16px;
}

.content-card__button {
  @extend .m3-standard-button;
}

.content-card--minimal {
  .content-card__tags {
    display: none;
  }
}