//////////////////////////////
//  Modal styles overrides  //
//////////////////////////////

.injusta-m3-theme {
  .modal {
    .button-close {
      @include iconize('fa-times', 30px, 'far');
      color: $m3-primary-500;
    }
  }
}

@include media-breakpoint-down(sm) {
  .injusta-m3-theme {
    .modal {
      .button-close {
        top: unset;
      }
    }
  }
}