//////////////////////////////////////
//  Global visual styles overrides  //
//////////////////////////////////////

// Shade

.m3-block-shade:before {
    background-color: $m3-primary-500;
}


// Injusta custom

.m3-add-understrike {
    &:after {
        content: '';
        width: 100%;
        height: 12px;
        position: absolute;
        bottom: -12px;
        left: 0;
        background-color: $m3-light;
        background-image: url("#{$balance_assets_dir}/ui/header-split.svg");
        background-repeat: repeat-x;
        background-size: auto 12px;
    }
}