// Variables
// --------------------------

$fa-font-path:         "../webfonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.15.4" !default;
$fa-border-color:      #eee !default;
$fa-inverse:           #fff !default;
$fa-li-width:          2em !default;
$fa-fw-width:          (20em / 16);
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

// Convenience function used to set content property
@function fa-content($fa-var) {
  @return unquote("\"#{ $fa-var }\"");
}

$fa-var-check: \f00c;
$fa-var-chevron-circle-right: \f138;
$fa-var-chevron-double-left: \f323;
$fa-var-chevron-double-right: \f324;
$fa-var-chevron-down: \f078;
$fa-var-chevron-left: \f053;
$fa-var-chevron-right: \f054;
$fa-var-envelope: \f0e0;
$fa-var-facebook-square: \f082;
$fa-var-file-archive: \f1c6;
$fa-var-file-download: \f56d;
$fa-var-file-word: \f1c2;
$fa-var-globe-americas: \f57d;
$fa-var-instagram: \f16d;
$fa-var-language: \f1ab;
$fa-var-link: \f0c1;
$fa-var-play-circle: \f144;
$fa-var-search: \f002;
$fa-var-times: \f00d;
$fa-var-times-circle: \f057;
$fa-var-twitter: \f099;
